@use 'sass:math';
@import 'abstract/reset';
@import 'base/_animations';
@import 'abstract/_all';
@import 'base/guide';

@include space($breakpoints, $padding, $p);
@include space($breakpoints, $padding-top, $pt);
@include space($breakpoints, $padding-left, $pl);
@include space($breakpoints, $padding-bottom, $pb);
@include space($breakpoints, $padding-right, $pr); 

@include space($breakpoints, $margin-bottom, $mb);
@include space($breakpoints, $margin-top, $mt);

.color-list{
  display: flex;
flex-wrap: wrap;
flex-direction: row;
}
.variable-box {
  width: 142px;
  height: 60px;

}
.variable-item {
display: flex;

padding-top: 20px;
padding-bottom:20px;


gap: 10px;
flex-direction: column;
}
.variable-info{
  color: black;
}

h2{
  font-size: 40px;
  margin-bottom: 40px;
}

h3{
  font-size: 30px;
  margin-bottom: 40px;
}

.h3{
  font-size: 16px;
font-weight: bold;
}

.grid-examples{
  div{
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
  }
}