@import '../abstract/_all';
.guide {
  section {
    padding-bottom: 20px;
  }
  .element-code {
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin: 20px auto;
  }
  .title-zone {
    color: $c-primary;
    margin-bottom: 20px;
    padding: 100px 0 10px;
  }
  .site-main {
    position: relative;
    margin: 0 0 0 55px;
    padding: 0 8px;
    @media (min-width: $break-lg) {
      margin: 0 0 0 180px;
    }
  }
  .mb-5 {
    margin-bottom: 5px;
  }
  .menu-lateral ul.list-clear li {
    line-height: 1.2;
  }
  .menu-lateral {
    padding-left: 10px;
  }
  .guide-logo-menu {
    img {
      padding-top: 20px;
    }
  }
  .guide-title {
    color: #878787;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
  }
  .guide-text {
    text-align: center;
    width: 100%;
    color: #b7c1c8;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif !important;
    text-transform: uppercase;
    padding: 10px 0;
    float: left;
    span {
      width: 100%;
      clear: both;
      float: left;
    }
  }
  .menulateral {
    position: fixed;
    top: 62px;
    overflow: auto;
    height: calc(100vh - 62px);
    font-size: 10px;
    box-sizing: border-box;
    width: 180px;
    padding: 0 0 0 20px;
  }
  .guide-hover {
    text-decoration: none;
    opacity: 0.6;
  }
  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    caption-side: bottom;
    text-align: left;
    th:nth-child(1) {
      width: 150px;
    }
    thead,
    tbody,
    tfoot {
      tr {
        th,
        td {
          padding: 10px;
          vertical-align: top;
          border: 1px solid #eaeaea;
          p:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    td:first-child > code {
      white-space: nowrap;
    }
    thead {
      background-color: $primary-guide;
      color: #fff;
    }
    td {
      &:first-child {
        color: $primary-guide !important;
      }
    }
  }
  code {
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    color: $secondary-guide;
  }
  pre > code {
    background-color: transparent;
  }
  a {
    text-decoration: none;
  }
  .item-w {
    width: 40px;
    height: 40px;
    padding: 4px;
    border: 1px solid black;
  }
  .item-i {
    min-width: 20%;
    min-height: 20%;
    display: block;
    border: 1px solid #fff;
    box-sizing: border-box;
  }
  .item-i:nth-child(1) {
    background-color: $primary-guide;
    opacity: 0.93;
  }
  .item-i:nth-child(2) {
    background-color: $primary-guide;
    opacity: 0.83;
  }
  .item-i:nth-child(3) {
    background-color: $primary-guide;
    opacity: 0.79;
  }
  .item-i:nth-child(4) {
    background-color: $primary-guide;
    opacity: 0.72;
  }
  .item-i:nth-child(5) {
    background-color: $primary-guide;
    opacity: 0.65;
  }
  .item-i:nth-child(6) {
    background-color: $primary-guide;
    opacity: 0.58;
  }
  .item-i:nth-child(7) {
    background-color: $primary-guide;
    opacity: 0.51;
  }
  .item-i:nth-child(8) {
    background-color: $primary-guide;
    opacity: 0.44;
  }
  .item-i:nth-child(9) {
    background-color: $primary-guide;
    opacity: 0.37;
  }
  .item-i:nth-child(10) {
    background-color: $primary-guide;
    opacity: 0.3;
  }
  .box-demo,
  .box-demo2 {
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #fff;
  }
  .box-demo-inner {
    height: 200px;
    border: 1px solid #fff;
    background-color: $primary-guide;
    opacity: 0.6;
    padding-top: 100px;
    text-align: center;
    color: #fff;
  }
  .box-demo:nth-child(1) {
    background-color: rgb(0 191 203 / 20%);
  }
  .box-demo:nth-child(2) {
    background-color: rgb(0 191 203 / 20%);
  }
  .box-demo:nth-child(3) {
    background-color: rgb(0 191 203 / 20%);
  }
  .box-demo2:nth-child(1) {
    background-color: rgb(255 33 33 / 20%);
  }
  .box-demo2:nth-child(2) {
    background-color: rgb(255 33 33 / 20%);
  }
  .box-demo2:nth-child(3) {
    background-color: rgb(255 33 33 / 20%);
  }
  .box-demo .col {
    background-color: rgb(0 191 203 / 60%);
    border: 1px solid #fff;
  }
  .flexbox-map {
    .h3 {
      min-height: 50px;
      background-color: rgb(33 255 214 / 33%);
      padding: 20px;
    }
  }
  .box-info {
    padding: 20px;
    border: 1px solid gray;
    font-style: italic;
    opacity: 0.5;
  }
  .guide-icon-top {
    display: inline-block;
  }
  .mini-box {
    background: #eaeaea;
    width: 100px;
    color: #757171;
    font-size: 10px;
    float: left;
    margin: 11px;
  }
}
