@import '../abstract/_all';

.mn-mainmenu {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  z-index: 2000;
  position: relative;
  overflow: auto;
  padding-bottom: 150px;
  @media (min-width: 768px) {
    max-width: 400px;
    padding-bottom: 0;
  }
  .mn-mainbar {
    .tabs ul {
      justify-content: center;
      align-items: center;

      @media (min-width: 768px) {
        justify-content: flex-start;
      }
    }
  }
  .mn-list-item {
    display: flex;
    padding: 16px 80px;
    justify-content: space-between;
    align-items: center;
  }
  .list-check {
    li a {
      position: relative;
      list-style: none;
      line-height: 1;
    }
    li.is-active {
      & > a {
        &::before {
          content: '';
          position: absolute;
          top: calc(50% - 2px);
          margin-left: -10px;
          transform: translateY(-50%);
          width: 4px;
          height: 4px;
          background-color: $c-primary;
        }
      }
    }
    .has-light & {
      li.is-active {
        a {
          &::before {
            content: '';
            background-color: #fff;
          }
        }
      }
    }
  }
  .mn-wrap-overlay {
    position: fixed;
    background-color: #000;
    inset: 0;
    z-index: 1000;
  }

  .mn-footer {
    position: fixed;
    width: 100%;
    z-index: 3000;
    bottom: 0;
    background-color: white;
  }
  .mn-search-zone {
    display: grid;
  }
  .mn-mainbar-cesta {
    padding: 10px;
    text-align: right;
  }
}

