@import '../abstract/_all';
.bottom-sheet {
  &::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--c-primary);
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
  }
  .clean-botton {
    border-width: var(--line-width) 0 0 0;
  }
  .border-clean-l {
    border-width: var(--line-width) var(--line-width) var(--line-width) 0;
  }
  .border-clean-r {
    border: solid $c-primary;
    border-width: var(--line-width) 0 var(--line-width) 0;
  }
  .bs-group-colors {
    padding-top: 10px;
    height: 40px;
    padding-right: 20px;
    padding-left: 16px;
  }
  .bs-custom-btn {
    border-width: 0 0 var(--line-width) 0;
  }

}
