@import '../abstract/_all';
.md-accordion {
  display: grid;
  list-style: none;
}
.md-accordion .md-accordion-button, 
.md-accordion .btn-link {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 40px;
  justify-content: space-between;
}
.md-accordion-panel {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease;
}
.md-accordion-content {
  overflow: hidden;
}
.has-lines {
  border-top: 1px solid $c-primary;
}
.has-lines:last-child {
  border-bottom: 1px solid $c-primary;
}
.is-active {
  &.md-accordion-item .md-accordion-panel {  
    grid-template-rows: 1fr;
  }
}
.has-light {
  .md-accordion .md-accordion-button {
    background-color: transparent;
    color: $c-white;
  }
  .md-accordion .has-lines {
    border-top: 1px solid white;
    .md-accordion-content,
    &.md-accordion-item.has-lines {
      .btn-link {
        border-bottom: 1px solid white;
      }
    }
  }
}
.has-icon-pre, 
.has-icon-post {
  .md-accordion-header .md-accordion-button {
    .md-accordion-icon-container {
      align-items: center;
      display: flex;
      gap: 8px;
    }
  }
  .has-light {
    .md-accordion-icon-container svg path,
    .md-accordion-icon-container svg circle {
      stroke: white;
    }
  }
}
