@use 'sass:math';
@import '../abstract/_all';
// Estado normal
.md-link button {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 40px;
  justify-content: space-between;
  padding: 0;
}


// primera linea
.md-link.line-top button {
  border-top: .5px solid $c-primary;
}

.md-link.line-bottom button {
  border-bottom: .5px solid $c-primary;
}
// Estado version oscura
.has-light {
  .btn {
    background-color: transparent;
    color: $c-white;

    &:hover, &:focus, 
    &:visited, &:active {
      background-color: transparent;
      border-top-color: transparent;
    }
  }
  .md-link-icon-container svg path,
  .md-link-icon-container svg circle {
    stroke: $c-white;
  }
  // primera linea
  .md-link.line-top button {
    border-top: .5px solid $c-white;
  }

  .md-link.line-bottom button {
    border-bottom: .5px solid $c-white;
  }


}

// Estado con icono
.has-icon-pre {
  .md-link > button {
    .md-link-icon-container {
      align-items: center;
      display: flex;
      gap: 8px;
    }
  }
}




